.head {
    color: #FFFFFF;

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-bottom: .063rem solid #103D4A;

    position: absolute;
}

.head__logo {
    margin-bottom: 1.6rem;
}

.head__navegacion {
    text-align: center;
}

.head__enlace {
    font-size: 1.7rem;

    display: inline-block;
    margin-right: 1.1rem;
    margin-bottom: 2rem;
    margin-left: 1.1rem;
}
